---
layout: default
---
<script type="text/javascript">
var last = null;

$(document).on('click', "a.sound", function () {
  $('a.sound').removeClass('btn-success').addClass('btn-primary');
  $('i.fa-volume-up').removeClass('fa-volume-up').addClass('fa-volume-off');
  $(this).children('i').removeClass('fa-volume-off').addClass('fa-volume-up');
  $(this).removeClass('btn-primary').addClass('btn-success');
  $('#video-title').text($(this).attr('title'));
});
</script>
<div class="container main">
  <h2 id='video-title'>Choose a clip</h2>
  <div class="video-frame">
    <iframe class="sound-player center-block" width="853" height="480" frameborder="0" name="video_viewer" allowfullscreen></iframe>
  </div>
  <div class="row">
    {% for sound in site.data.soundboard %}
    <div class="col-md-3">
        {% assign embed = sound.id | prepend: 'https://youtube.com/embed/' | append: '?rel=0&autoplay=1&controls=0' %}
        {% if sound.start %}
          {% assign embed = embed | append: '&start=' | append: sound.start %}
        {% endif %}
        {% if sound.end %}
          {% assign embed = embed | append: '&end=' | append: sound.end %}
        {% endif %}
        <a class="btn btn-primary btn-lg sound" title="{{ sound.title | capitalize }}" href="{{ embed }}" role="button" target="video_viewer">
          <i class="fa fa-volume-off" aria-hidden="true"></i> {{ sound.title | capitalize }}
        </a>
    </div>
    {% endfor %}
  </div>

  Suggest more on <a href="https://github.com/tjbenator/memed.co">
  <i class="fa fa-github" aria-hidden="true"></i> Github</a> by creating an
  <a href="https://github.com/tjbenator/memed.co/issues">issue</a> or a
  <a href="https://github.com/tjbenator/memed.co/pulls">pull request</a>. Alternativly,
  tweet at <a href="https://twitter.com/tjbenator">@tjbenator</a>.
</div>
